{% if Entity.Users.userData.chem_editor %}
    <link rel='stylesheet' href='app/css/chemdoodle.css' type='text/css'>
    <script src='app/js/chemdoodle/chemdoodle.min.js'></script>
{% endif %}

{% if Entity.Users.userData.use_markdown %}
    <link rel='stylesheet' href='app/css/bootstrap-markdown.min.css' type='text/css'>
    <script src='app/js/bootstrap-markdown.min.js'></script>
{% endif %}

<!-- BACK TO LINK -->
{% if new == 'true' %}
  <a href='?mode=show' class='entityDestroy' title='delete' alt='delete' data-type='{{ Entity.type }}' data-id='{{ Entity.id }}' data-confirm="{{ 'Delete this?'|trans }}">
    <img src='app/img/arrow-left-blue.png' alt='' /> Cancel creation and go back.
  </a>
{% else %}
  <a href='?mode=show'>
      <img src='app/img/arrow-left-blue.png' alt='' />{{ 'Back to listing'|trans }}
  </a>
{% endif %}

{% if Entity.entityData.userid != Entity.Users.userid and Entity.type == 'experiments' %}
    {{ 'Experiment of %s'|trans|format(Entity.entityData.fullname)|msg('ok', false) }}
{% endif %}
